/* lsakhbsd;kjna;jsn */
body {
  height: 100vh;
  font-family: Ubuntu;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  top: -13vh;
  animation-name: header-down;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  width: 70vw;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.me {
  background-color: white;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Assets/Img/me1-copy.png");
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  font-size: 1.2rem;
}
.navbar a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
}
.label a {
  padding: 0 1rem;
}

.social a {
  color: white;
  font-size: 2rem;
  padding: 0 1.3rem;
}
.navbar a:hover {
  color: crimson;
}

main {
  background-color: white;
}

.flex-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 77vh;
}
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.flex-columns .column .column-1,
.flex-columns .column .contact-1,
.flex-columns .column .column-2,
.flex-columns .column .contact-2,
.flex-columns .column .about-1,
.flex-columns .column .about-2 {
  height: 100%;
}

.column-1,
.contact-1,
.about-1 {
  position: relative;
  left: -100vw;
  animation-name: left-column;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-2,
.contact-2,
.about-2 {
  position: relative;
  right: -100vw;
  animation-name: right-column;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid lightgray;
}

.tags1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  color: crimson;
  z-index: 5;
}
.tags1 div {
  position: absolute;
  opacity: 0;
}
.tags1 div:nth-child(1) {
  animation: popup 3s linear 1s;
  left: 300px;
  top: 100px;
}
.tags1 div:nth-child(2) {
  animation: popup 3s linear 3s;
  left: 500px;
  top: 20px;
}
.tags1 div:nth-child(3) {
  animation: popup 3s linear 5s;
  left: 800px;
  top: 400px;
}
.tags1 div:nth-child(4) {
  animation: popup 3s linear 7s;
  left: 1000px;
  top: 30px;
}
.tags1 div:nth-child(5) {
  animation: popup 3s linear 9s;
  left: 300px;
  top: 100px;
}

.contact-1-container,
.contact-2-container,
.about-1-container,
.about-2-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.contact-1-container h2,
.about-1-container h2 {
  font-size: 5rem;
}
.contact-1-container p,
.about-1-container p {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
  align-self: flex-start;
  color: #333;
}
.social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 20vh;
  font-size: 2rem;
}
.social-container a {
  color: black;
  font-size: 2rem;
  padding: 0 1rem;
}
.facebook-icon a {
  color: #166ada;
}
.instagram-icon a {
  background: -webkit-linear-gradient(red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linkdin-icon a {
  color: #0a66c2;
}
.twitter-icon a {
  color: #1a8cd8;
}
.social-container a:hover {
  opacity: 0.75;
}
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
.form-title {
  font-size: 2rem;
  font-weight: 400;
}
form {
  color: #333;
  font-size: 1rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  line-height: 1.5rem;
}
form > div > input {
  height: 2rem;
  width: 26.4rem;
}
form > div > input:focus {
  outline: none;
  background-color: rgb(242, 227, 240);
  border: 1px solid crimson;
}

.submit-btn {
  border: none;
  font-size: 1.5rem;
  color: white;
  background-color: #333;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  align-self: center;
}
.submit-btn:hover {
  color: crimson;
}
.web {
  align-self: flex-end;
  opacity: 0;
  font-size: 10rem;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 13s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  color: crimson;
}
.developer {
  align-self: flex-start;
  opacity: 0;
  font-size: 5rem;
  margin-bottom: 0;
  animation-name: fadeIn2;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 14s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  color: black;
}

.footer-container {
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid lightgray;
  font-size: 1.5rem;
  color: gray;
}
/* screen only */
@media (min-width: 500px) {
  @keyframes header-down {
    to {
      top: 0;
    }
  }

  @keyframes right-column {
    to {
      right: 0;
    }
  }
  @keyframes left-column {
    to {
      left: 0;
    }
  }
  @keyframes popup {
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
}
/* mobile only */
@media (max-width: 500px) {
  header {
    top: 0;
  }
  .flex-columns {
    flex-direction: column;
  }
  .column-1,
  .contact-1,
  .about-1 {
    left: 0;
  }
  .column-2,
  .contact-2,
  .about-2 {
    right: 0;
    border-top: 1px solid lightgray;
  }
  .web,
  .developer {
    opacity: 1;
  }
  .web {
    align-self: center;
    font-size: 6rem;
  }
  .developer {
    align-self: center;
    font-size: 4rem;
  }
  .social a,
  .me,
  .tags1 {
    display: none;
  }
  .navbar ul {
    justify-content: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
  .navbar ul a {
    padding: 3px;
  }
}
